spring:
  jpa:
    show-sql: true

logging:
  level:
    eu.buildquote: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
